body {
    background-color: slategrey;
}

.reptile-selection {
    margin-top: 20px;
    margin-bottom: -20px;
}

#reptile-form {
    margin-top: 50px;
}

.reptile-dropdown {
    height: 80px;
    font-size: 20px;
    border-radius: 10px;
    float:left;
}

.reptile-option {
    text-align: right;
}

#update-button {
    height: 80px;
    font-size: 20px;
    width: 120px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border-color: green;
}

#bio {
    height: 800px;
    font-size: 20px;
}

.input-label {
    font-size: 20px;
    color: white;
    text-align: right;
}

.input-box {
    font-size: 20px;
}

.parameter {
    margin-bottom: 20px;
}

#add-button {    height: 80px;
    font-size: 20px;
    width: 80px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border-color: green;
    margin-left: 10px;
    float: left;
}

#delete-button {
    height: 80px;
    font-size: 20px;
    width: 120px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border-color: red;
    vertical-align: middle;
    text-align: center;
    padding: 24px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}

.tab-title>a {
    color: #555;
  cursor: default;
  background-color: gainsboro;
}