.day {
        margin-bottom: 10px;
        border: 1px solid purple;
        color: black;
}

.blank-day {
        margin-bottom: 10px;   
}

.weekday-name {
        height: 20px;
        width: 100px;
        text-align: center;
        margin-bottom: 10px;
}

.weekday {
        margin: 0 auto;
        text-align: center;
        float: left;
        width: 14.28%;
        padding-left: 5px;
        padding-right: 5px;
}

#month {
        margin-top: 50px;
        margin-bottom: 50px;
}

#year {
        margin-top: 50px;
        margin-bottom: 50px;
}

.notes-column {
        width: 900px;
        display: inline-block;
}


.notes-title {
        text-align: center;
        width: 875px;
        padding-left: 75px;
}

.check-text {
        float: left;
        width: 180px;
        margin-right: 5px;
        padding-left: 5px;
}

.small-check-text {
        float: left;
        width: 75px;
        margin-right: 5px;
        padding-left: 5px;
}

.notes-text {
        float: left;
        width: 800px;
        margin-right: 5px;
        padding-left: 5px;
}

.ate-box {
        float: left;
}

.name {
        float: left;
        width: 75px;
        text-align: right;
        padding-right: 5px;
}

.checklist-row {
        margin-bottom: 5px;
        display: inline-block;
        height: 26px;
}

.fed-column {
        width: 300px;
        display: inline-block;
}

.cleaned-column {
        width: 100px;
        display: inline-block;
}

.shed-column {
        width: 100px;
        display: inline-block;
}

.weight-column {
        width: 175px;
        display: inline-block;
}

.length-column {
        width: 175px;
        display: inline-block;
}

.fed-title {
        text-align: center;
        width: 300px;
        padding-left: 75px;
        padding-right: 45px;
}

.shed-title {
        text-align: center;
        width: 100px;
}

.cleaned-title {
        text-align: center;
        width: 100px;
}

.length-title {
        text-align: center;
        width: 175px;
        padding-left: 75px;
        padding-right: 25px
}

.weight-title {
        text-align: center;
        width: 175px;
        padding-left: 75px;
        padding-right: 25px
}

.calendar-return {
        display: block;
}

.sub-1 {
        background: linear-gradient(to right, #ff5050 , lime, #6699ff);
}

.sub-2 {
        background: linear-gradient(to right, lime , #6699ff);
}

.sub-3 {
        background: linear-gradient(to right, #ff5050 , #6699ff);
}

.sub-4 {
        background: linear-gradient(to right, #ff5050 , lime);
}

.sub-5 {
        background-color: #6699ff;
}

.sub-6 {
        background-color: lime;
}

.sub-7 {
        background-color: #ff5050;
}