.day {
        margin-bottom: 10px;
        border: 1px solid purple;
}

.blank-day {
        margin-bottom: 10px;   
}

.weekday-name {
        height: 20px;
        width: 100px;
        text-align: center;
        margin-bottom: 10px;
}

.weekday {
        margin: 0 auto;
        text-align: center;
        float: left;
        width: 14.28%;
        padding-left: 5px;
        padding-right: 5px;
}

#month {
        margin-top: 50px;
        margin-bottom: 50px;
}

#year {
        margin-top: 50px;
        margin-bottom: 50px;
}

.fed {
        width: 220px;
        display: inline-block;
}

.shed {
        width: 220px;
        display: inline-block;
}

.weight {
        width: 220px;
        display: inline-block;
}

.fed-box {
        float: left;
        width: 125px;
        margin-right: 5px;
        padding-left: 5px;
}

.shed-box {
        float: left;
        width: 125px;
        margin-right: 5px;
        padding-left: 5px;
}

.weight-box {
        float: left;
        width: 125px;
        margin-right: 5px;
        padding-left: 5px;
}

.ate-box {
        float: left;
}

.name {
        float: left;
        width: 75px;
        text-align: right;
        padding-right: 5px;
}

.checklist-row {
        margin-bottom: 5px;
        display: inline-block;
}