body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    color: white;
    font-size: 5rem;
    text-align: center;
}

@media (max-width: 991px) {
    body {
        background-image: url('background-vertical.jpg');
    }
}

.critter-row {
    margin-top: 75px;
}

.critter-pic {
    width: 300px;
    height: 225px;
}