body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
}

.banner-container {
        position: relative;
        text-align: center;
        color: white;
}

.banner-pic {
        width: 100%;
        filter: brightness(40%);       
}

.banner-text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
        color: white;
        font-size: 100px;
        font-family: 'Amatic SC', cursive;
        text-shadow: 1px 1px #2f0b3a, 2px 2px #2f0b3a, 3px 3px #2f0b3a, 4px 4px #2f0b3a, 5px 5px #2f0b3a, 6px 6px #2f0b3a;
}

.big-logo {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 20%;
}

#explore-btn {
        color: white;
        background-color: transparent;
        border-color: #ccc;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -25%);
        height: 50px;
        width: 150px;
        font-size: 20px;
}

#explore-container {
        background-color: rgb(212, 209, 209);
}

.reptile {
        margin-top: 25px;
        border: 2px solid purple;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 25px;
}

.reptile-title {
        float: left;
        font-size: 30px;
        padding: 4px 10px;
}

.reptile-info {
        display: inline-block;
}

.breed {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
}

.price {
        font-size: 20px;
        padding-bottom: 10px;
}

.hatch {
        font-size: 20px;
        padding-bottom: 20px;
}

.carousel-control {
        background-image: none !important;
}

.right {
        right: 10 !important;
}

.left {
        left: 10 !important;
}

.more-info {
        margin-top: 10px;
        font-style: italic;
}

.nav-tabs li a {
        color: black;
}

.reptile-grid {
        height: 400px;
}

.reptile-info-image {
        height: 800px;
}

#news-container {
        background-color: #716082;
        min-height: 500px
}

#news-section {
        background-color: rgb(212, 209, 209);
        min-height: 500px;
        width: 800px;
        margin: auto;
}

.news-img {
        margin: auto;
}

.news-img img {
        width: 100%;
}

.news-item {
        height: 250px;
}
