body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        background-color: #716082;
}

.banner-container {
        position: relative;
        text-align: center;
        color: white;
}

.row {
        margin-right: 0;
}

.banner-pic {
        width: 100%;
        filter: brightness(40%);       
}

.banner-text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
        color: white;
        font-size: 100px;
        font-family: 'Amatic SC', cursive;
        text-shadow: 1px 1px #2f0b3a, 2px 2px #2f0b3a, 3px 3px #2f0b3a, 4px 4px #2f0b3a, 5px 5px #2f0b3a, 6px 6px #2f0b3a;
}

#big-logo {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 20%;
}

#play-icon {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 20%;
        z-index: 5;
        display: none;
}

.button-block{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -25%);
}

#forsale-btn {
        color: white;
        background-color: transparent;
        border-color: #ccc;
        height: 50px;
        width: 150px;
        font-size: 20px;
}

#tour-btn {
        color: white;
        background-color: transparent;
        border-color: #ccc;
        height: 50px;
        width: 150px;
        font-size: 20px;
}

#forsale-container {
        background-color: #716082;
        width: 1065px;
        margin: auto;
}

#tour-container {
        background-color: #716082;
        width: 1065px;
        margin: auto;
        height: 610px;
        margin-top: 50px;
}

.reptile {
        margin-top: 25px;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 25px;
        background-color: rgb(212, 209, 209);
        box-shadow: 5px 5px;
        float: left;
}

.reptile-title {
        float: left;
        font-size: 30px;
        padding: 4px 10px;
}

.reptile-info {
        display: inline-block;
}

.breed {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
}

.price {
        font-size: 20px;
        padding-bottom: 10px;
}

.hatch {
        font-size: 20px;
        padding-bottom: 20px;
}

.carousel-control {
        background-image: none !important;
}

.right {
        right: 10 !important;
}

.left {
        left: 10 !important;
}

.more-info {
        margin-top: 10px;
        font-style: italic;
}

.nav-tabs li a {
        color: black;
}

.reptile-grid {
        height: 400px;
}

.reptile-info-image {
        height: 800px;
}

#news-container {
        background-color: #716082;
}

#news-section {
        margin: auto;
        width: 1575px;
}

@media screen and (max-width: 1400px) {
        #news-section {
                margin: auto;
                width: 945px;
        }
}

.news-img {
        margin: auto;
}

.news-title {
        font-weight: bold;
        font-size: 20px;
}

.news-date {
        margin-top: 10px;
        font-size: 14px;
}

.news-desc {
        font-size: 12px;
        margin-top: 10px;
}

.news-img img {
        width: 100%;
        margin-top: 10px;
}

.news-info {
        height: 350px;
}

.read-more {
        height: 40px;
        border-top: 1px solid gray;
}

.read-more-text {
        font-size: 14px;
        padding-top: 8px;
        float: left;
}

.read-more-arrow {
        width: 25px;
        height: 25px;
        padding: 5px;
        float: right;
        border-radius: 15px;
        border: 1px solid black;
        margin-top: 6px
}

.news-item {
        background-color: rgb(212, 209, 209);
        margin: 20px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 275px;
        box-shadow: 5px 5px;
}
