body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 1rem;
}

.menubar {
        min-height: 4rem;
        background-color: #563d7c;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
        color: white;
        position: sticky;
        padding: .5rem 1rem;
        top: 0;
        z-index: 1071;
        align-items: center;
}

.menuitem {
        padding: .5rem 1rem;
        color: #cbbde2;
}

.menuitem:hover
{
        color: #cbbde2;
        text-decoration: #cbbde2; 
}

.menuitem-active {
        padding: .5rem 1rem;
        color: white;
}

.menuitem-active:hover {
        color: white;
        text-decoration: white;
}