body {
        background-color: #1B0233;
        color: white;
        margin-bottom: 150px;
}

.info-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.info-shortdesc {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}