body{
        background-color: white;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Montserrat', sans-serif;
}

html {
        background-color: white;
}

.section {
        min-height: 480px;
        background-color: white;
        margin-bottom: 20px;
}

#visit-btn {
        color: white;
        background-color: transparent;
        border-color: #ccc;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -25%);
        height: 50px;
        width: 150px;
        font-size: 20px;
}

.banner-pic {
        width: 100%;     
}

.section-title {
        margin-top: 50px;
        font-size: 28px;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 10px; 
        color: #2e3b4e;  
        text-align: center;
}

.section-subtitle {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: center;
}

.btn-wrapper {
        text-align: center;
}

.section-btn {
        color: #161b1f;
        background-color: white;
        height: 50px;
        width: 120px;
        font-size: 15px;
        padding-top: 12px;
        border: 1px solid #161b1f;

}

#compare-gif {
        min-height: 750px;
}

.section-pic {
        text-align: center;
}

.section-pic img {
        max-width: 100%;
}

@media (min-width: 1550px)
{
        .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6,
        .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
                float: left;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
        }

        .col-xxl-1 {
                width: 8.333333%;
        }

        .col-xxl-2 {
                width: 16.6666667%;
        }

        .col-xxl-3 {
                width: 25%;
        }

        .col-xxl-4 {
                width: 33.3333333%;
        }

        .col-xxl-5 {
                width: 41.6666667%;
        }

        .col-xxl-6 {
                width: 50%;
        }

        .col-xxl-7 {
                width: 58.3333333%;
        }

        .col-xxl-8 {
                width: 66.66666667%;
        }

        .col-xxl-9 {
                width: 75%;
        }

        .col-xxl-10 {
                width: 83.33333333%;
        }

        .col-xxl-11 {
                width: 91.666666667%;
        }

        .col-xxl-12 {
                width: 100%;
        }


        .col-xxl-offset-1 {
                margin-left: 8.333333%;
        }

        .col-xxl-offset-2 {
                margin-left: 16.6666667%;
        }

        .col-xxl-offset-3 {
                margin-left: 25%;
        }

        .col-xxl-offset-4 {
                margin-left: 33.3333333%;
        }

        .col-xxl-offset-5 {
                margin-left: 41.6666667%;
        }

        .col-xxl-offset-6 {
                margin-left: 50%;
        }

        .col-xxl-offset-7 {
                margin-left: 58.3333333%;
        }

        .col-xxl-offset-8 {
                margin-left: 66.66666667%;
        }

        .col-xxl-offset-9 {
                margin-left: 75%;
        }

        .col-xxl-offset-10 {
                margin-left: 83.33333333%;
        }

        .col-xxl-offset-11 {
                margin-left: 91.666666667%;
        }

        .col-xxl-offset-12 {
                margin-left: 100%;
        }

        .col-xxl-offset-none {
                margin-left: 0;
        }
}